body {
  font: 1.5em 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d; }

.container {
  width: 50%;
  margin: auto; }
  .container #addTask {
    margin-top: 150px; }
  .container #taskText {
    width: 400px; }
  .container .deletebtn {
    margin-left: 10px; }
  .container .fa {
    color: grey; }
  .container .fa:hover {
    color: lightgrey; }
  .container #closedtask {
    text-decoration: line-through;
    color: darkgrey; }

li {
  list-style: none; }
  li div {
    display: inline-block; }
  li input {
    margin-right: 10px; }
